cython
numpy
matplotlib
open3d
scikit-learn
torch==1.13
tensorflow
tensorboard
--find-links  https://pytorch-geometric.com/whl/torch-1.13.0+cu117.html
torch-scatter==2.1.0
torch-sparse==0.6.16
torch-cluster==1.6.0
torch-spline-conv==1.2.1
torch-geometric==2.2.0